svg {
  shape-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
}

img {
  width: 500px;
  height: 300px;
  display: block;
}

svg {
  margin: 0;
  width: 100px;
  display: block;
  position: absolute;
  bottom: 0;
}
